* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    

}

header{
    
    background: url(logo.jpg) no-repeat center/cover ;
    padding: 190px;
    
    
    
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}



/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid #0099FF;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

/* Team Section */
#team{ 
    position: flex;
}

#team-section::before{
 content: "";
 position: absolute;
 background-color: #a9a9a9;
 width: 120%;
 height: 140%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team{
    
    padding: 34px;
    display: relative;
    border: 2px solid #0099FF;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    

    
}



.team img{
        height: 130px;
        width: 75px;
        display: block;
        margin: auto;
        
        
}



.link-img img{
    margin-left: 10px;
    height: 20px;
    width:  20px;
    

}



.address img{
    height: 20px;
    width: 20px;
}


/* Contact Section */

#contact::before{
    content: "";
    position: absolute;
    width:120%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: #99a1a7;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    padding-left: 30px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;

}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

label {
    color:rgb(0, 0, 0);
}

.address-logo .address-list li{
    float: right;
    
    
}


.address-list{
    
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    
}

.address{
    background-color: #0099ff;
    height: 400px;
    width: 100%;
}
li{
    list-style: none;
    
}



footer{
    background: black;
    color: white;
    height: 120px;
    

    
    
    
}

.h-prior{font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
    padding-left: 100px;


}
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    color: rgb(0, 0, 0);
    
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}



.center{
    text-align: center;
    padding-top: 20px;
    

}







